@font-face {
  font-family: Raleway;
  src: url(../src/additional/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: WorkSans;
  src: url(../src/additional/WorkSans-VariableFont_wght.ttf);
}
body {
  margin: 0;
  background-image: url(./additional/BattleShipBG.jpg);
  background-size: cover;
}
.hero {
  display: grid;
  grid-template-rows: 20% 10% 70%;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5rem;
  font-family: WorkSans;
  letter-spacing: 10px;
}
.startGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playBtn {
  display: none;
  font-size: 2.5rem;
  color: green;
  background-color: rgb(212, 212, 212, 0.7);
  border: 3px solid white;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
}
.info {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 600;
}
.p1Board {
  display: grid;
  width: 500px;
  pointer-events: none;
}
.p2Board {
  display: grid;
  width: 500px;
}
.disabled {
  pointer-events: none;
}
.block {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}
.block:hover {
  background-color: lightgray;
  transition: 0.1s;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.endPopup {
  position: absolute;
  width: 500px;
  height: 200px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid gray;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.endPopup > h1 {
  margin: 0;
}
